<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Marks to Course</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <style>
        .required input {
           padding-right: 25px;
           background-image: url(...);
           background-position: right top;
        }
    </style>
</head>
<body>
    <h1>Hello, {{(session['userdata'])['name']}} ({{session['role']}})</h1>
    {% include 'logoutbutton.html' %}
    <h2>Course is: {{idcourses}}</h2>
    <h2>All Student Marks (Total : {{data|length}})</h2>
        <form action="/addeditstudentmarks" method="post">
            <input type="hidden" id="idcourses" name="idcourses" value="{{idcourses}}">
        <table style="width:100%">
            <tr>
                <th>Student ID</th>
                <th>Marks</th>
            </tr>
            {% for da in data %}
               <tr>
                    <input type="hidden" name="idusers" name="" value="{{da[0]}}">
                    <td>{{da[0]}}</td>
                    <td><input type="text" value="{{da[1]}}" name="addeditstudentmarks" required></td>
               </tr>
            {% endfor %}
            {% if 'Permission Denied' not in data[0] and data|length != 0 %}
            <tr><td> <p>{{ form.submit() }}</p></td></tr>
            </table>
            {% endif %}
        </form>
</body>
</html>

